@model GantiPasswordViewModel

@{
    ViewData["Title"] = "Ganti Password";
}

<body class="hold-transition sidebar-mini">
    <partial name="NavPartial" />
    <!-- Main content -->
    <div class="content-wrapper">
        <section class="content">
            <div class="container-fluid">
                <div class="row mt-5">
                    <!-- left column -->
                    <div class="col-md-6">
                        <!-- general form elements -->
                        <div class="card card-info">
                            <div class="card-header">
                                <h3 class="card-title">Ganti Password</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <form asp-action="GantiPassword" role="form">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label asp-for="Password">Masukkan Password</label>
                                        <input asp-for="Password" class="form-control" placeholder="Masukkan Password">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="NewPassword">Password Baru</label>
                                        <input asp-for="NewPassword" class="form-control" placeholder="Password Baru">
                                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="KonfirmasiPassword">Konfirmasi Password</label>
                                        <input asp-for="KonfirmasiPassword" class="form-control" placeholder="Konfirmasi Password">
                                        <span asp-validation-for="KonfirmasiPassword" class="text-danger"></span>
                                    </div>
                                </div>
                                <!-- /.card-body -->

                                <div class="card-footer">
                                    <button type="submit" class="btn btn-outline-info">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>